/tmp/
/.ruff_cache/
/fluxfce_core/__pycache__/
/notes
bug.log
srss.py
setup_format_lint.sh
codebase-to-txt.sh

hand-over-prompt

codebase-*
.gitignore
/codebase.txt

/backup
backup/*
prompt*
prompt.md
system-logs.txt
fluxfce_gui.log
backup/readme-NEW.md
reddit_post.md
