/tmp/
/.ruff_cache/
/fluxfce_core/__pycache__/
/notes
bug.log
todo*
srss.py
setup_format_lint.sh
codebase-to-txt.sh

hand-over-prompt

codebase-*
.gitignore
/codebase.txt

todo.md
prompt*
prompt.md
backup/fluxfce-temp-control.py
backup/detect-backgrounds.sh
backup/fluxfce-bright-control.py
bug.log
