[Unit]
Description=FluxFCE Apply Theme Transition (%i)
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/fluxfce internal-apply --mode %i
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
